
<div class = "bootstrap-padding">
  <div class = "wrapper">
  	
		<% provide(:title, 'All users') %>
		
		<div id = "form">

			<h1 align="center">全ユーザー</h1>

			<hr class = "line">

		<%= will_paginate %>

				<% @users.each do |user| %>
					<div class = "box">
						<%= gravatar_for user, size: 50 %><br>
					  	<%= link_to user.name, user %>

						  <% if !current_user.nil? && current_user.admin? && !current_user?(user) %>
						    | <%= link_to "delete", user, method: :delete,
						                                  data: { confirm: "You sure?" } %>
						  <% end %>
					</div>
				<% end %>

		<%= will_paginate %>

		</div>
		
	</div>
</div>