
<div class = "bootstrap-padding">
  <div class = "wrapper-skinny">

	<% provide(:title, @user.name) %>
	<div class="row">
	  <div class="col-md-12">
	  		<div class="profile">
		      <h1 class = "left">
		        <%= gravatar_for @user %>
		        <% if current_user?(@user) %>
		        	<%= link_to @user.name, edit_user_path(@user) %>
		        <% else %>
		        	<%= @user.name %>
		        <% end %>
        	  </h1>
			</div>
			<div class="right">
				<div class="post-button">
					<% if current_user?(@user) %>
		      			<%= link_to "記事投稿", new_post_path, class: "button button_color button_center"%>
		      		<% end %>
		      	</div>
		    </div>
	  </div>
	 </div>

	<div class="user-show">
		<% if @user.posts.any? %>
		   <% @posts.each do |post| %>

		   		<div class = "user-title">
				  	<h4><%= link_to post.title, post_path(post) %></h4>
				</div>
				<div class="user-description">
				  	<%= truncate(post.description, length: 80) %>
				</div>
				<div class="user-time">
				  	投稿時間: <%= time_ago_in_words(post.created_at) %> ago
				</div>
			<% end %>
		<% else %>
			<p>まだ投稿はありません。</p>
		<% end %>
	</div>
	
	<div class="center">
		<%= will_paginate @posts %>
	</div>
  </div>
</div>

